In [1]:
import pandas as pd

In [2]:
kmean_data = pd.read_csv('../../data/cluster_kmeans.csv')
kmean_data

      User number   Recency  Frequency  Moneytary  Cluster Label
0       101000281  0.022131   0.003364   0.111708              2
1       101000282  0.085362   0.000841   0.004265              1
2       101000283  0.025292   0.002523   0.008529              0
3       101000320  0.036885   0.000000   0.012794              0
4       101000325  0.027400   0.000000   0.021400              0
...           ...       ...        ...        ...            ...
8938    106000005  0.007377   0.000000   0.002132              0
8939    106000011  0.005269   0.000000   0.002132              0
8940    106000012  0.005269   0.000000   0.002132              0
8941    106000013  0.004215   0.000000   0.002132              0
8942    106000017  0.000000   0.000000   0.021400              0

[8943 rows x 5 columns]

In [3]:
print("Có tất cả", kmean_data['Cluster Label'].nunique(), "label")
print(kmean_data['Cluster Label'].unique())

Có tất cả 3 label
[2 1 0]

In [4]:
list_cluster_train = [0, 1]
list_cluster_test = [2]

rfm_train = kmean_data[kmean_data['Cluster Label'].isin(list_cluster_train)]
rfm_test = kmean_data[kmean_data['Cluster Label'].isin(list_cluster_test)]

rfm_train.shape, rfm_test.shape

((8704, 5), (239, 5))

In [5]:
rfm_train.to_csv('../../data/rfm_train.csv', index=False)
rfm_test.to_csv('../../data/rfm_test.csv', index=False)

In [6]:
data_processed = pd.read_csv('../../data/data_processed.csv')
data_processed

,DateKey,User number,Full name,Product Name,Product Type,Quantity,Regular price
0,2020-12-31,101007917,Giang Võ Thị Phương,Water - Aquafina 500ml,ProductGood,5,50000
1,2020-12-31,102005738,Phương Đặng Phương,Water - Aquafina 500ml,ProductGood,8,80000
2,2020-12-31,101007917,Giang Võ Thị Phương,Water - Revive Organe 500ml,ProductGood,4,40000
3,2020-12-31,102005738,Phương Đặng Phương,Water - Revive Organe 500ml,ProductGood,3,30000
4,2020-12-31,101007917,Giang Võ Thị Phương,Water - Revive White 500ml,ProductGood,2,20000
...,...,...,...,...,...,...,...
19238,2020-08-23,105000722,Trần Thư,Membership_6M,Membership,1,1700000
19239,2020-08-23,105000723,Tăng Tùng Hòa,Membership_1M,Membership,1,279000
19240,2020-08-23,105000724,Trần Trâm,Membership_1M,Membership,1,279000
19241,2020-08-23,105000726,Mai Tai,Membership_1M,Membership,1,279000
19242,2020-08-23,105000727,Trần Tiên,Membership_1M,Membership,1,279000

In [7]:
train = data_processed[data_processed['User number'].isin(rfm_train['User number'])]
test = data_processed[data_processed['User number'].isin(rfm_test['User number'])]

In [8]:
train.to_csv('../../data/train_processed.csv', index=False)
test.to_csv('../../data/test_processed.csv', index=False)